    <% unless flash.blank? %>
    <div class="alert alert-dismissable alert-info">
    <% flash.keys.each do |key| %>
    <% unless flash[key].blank? %>
    <div class="">
        <i class="fa fa-fw fa-info-circle"></i>
        <%= flash[key] %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    </div>
    <% end %>
    <% end %>
    <% end %>

</div>
